---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>Latest 5 Posts</h1>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<h1>Latest Adventure</h1>
{% set postslist = collections.adventures | head(-1) %}
{% include "postslist.njk" %}